[user]
	name = Ryan B
	email = notryanb@gmail.com
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/ryan/.gitignore_global
[alias]
	unstage = reset HEAD --
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
